PORT=5000
MONGODB_URI=mongodb+srv://roybips2005_db_user:1234@clusteremail.iws1ffd.mongodb.net

EMAIL_USER=bipasaroy453@gmail.com
EMAIL_PASS=rwhrkmvhyjaqxmmf
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
NODE_ENV=development