PORT=xxxx
MONGODB_URI=mongodb+srv://db_user:password@clusteremail.iws1ffd.mongodb.net

EMAIL_USER=xxxxx@gmail.com
EMAIL_PASS=email_pass
SMTP_HOST=smtp.gmail.com
SMTP_PORT=xxx
SMTP_SECURE=true
NODE_ENV=xxx
